<div class="nested-fields">
  <%= f.attachment_field :image %></br>
    <div id="links">
      <button type="button" class="btn btn-outline-warning btn-sm">
        <%= link_to_remove_association "remove image", f, class: "btn btn-warning btn-xs" %>
      </button></br></br>
	</div>
</div>