<!-- APIでマップ実装 -->
<div id="map" style="width: 50%; height: 700px; float: right"></div>

    <script type="text/javascript">
        var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
        var osmAttrib='&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        var osm = new L.TileLayer(osmUrl, {attribution: osmAttrib});
        var map = new L.Map('map').addLayer(osm).setView([36.31181, 139.4783], 2.2);

        // Control OSM Geocoder
        var option = {
          position: 'topright', // topright, topleft, bottomright, bottomleft
          text: '検索',
          placeholder: '検索条件を入力してください。'
        }
        var osmGeocoder = new L.Control.OSMGeocoder(option);
        map.addControl(osmGeocoder);

        // Script for adding marker on map click
        function onMapClick(e) {

            var marker = L.marker(e.latlng, {
                draggable: true,
                title: "Resource location",
                alt: "Resource Location",
                riseOnHover: true
            }).addTo(map)
                .bindPopup(e.latlng.toString()).openPopup();

            // Update marker on changing it's position
            marker.on("click", function (ev) {

                var chagedPos = ev.target.getLatLng();
                this.bindPopup(chagedPos.toString()).openPopup();

            });

            marker.on("dragend", function (hv){
                map.removeLayer(hv.target);
            });
        }


        map.on('click', onMapClick);
        marker.on('click', onMarkerClick);
    </script>
