<tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= link_to trip.title, trip_path(trip.id) %></br></td>
        <td><%= trip.subtitle %></br></td>
      </tr>
    <% end %>
    <% if enduser_signed_in? %>
	  <ul class="list-inline">
	    <li><%= link_to "新規旅行情報追加",  new_trip_path %></li>
	  </ul>
	<% else %>
	  <ul class="list-inline">
	    <li><%= link_to "新規旅行情報追加",  enduser_session_path %></li>
	  </ul>
	<% end %>
</tbody>