<div class="container">
	<h1>管理者用ホーム</h1>
		<div class="row">
			<table class="table table-striped">
				<tr>
					<td><%= link_to "ユーザー情報編集", admins_index_path %></td>
				</tr>
				<tr>
					<td><%= link_to "旅行情報一覧", admin_trips_path %></td>
				</tr>
			</table>
		</div>
</div>
