<div class="container">
	<h1>管理者用ホーム</h1>
		<div class="row">
			<table class="table table-striped">
				<tr>
					<td><%= link_to "ユーザー情報一覧を見る", admins_path %></td>
				</tr>
				<tr>
					<td><%= link_to "旅行情報一覧を見る", admin_trips_path %></td>
				</tr>
			</table>
		</div>
</div>
