<div class="container">
  <div class="toppage">
	<h6>ポートフォリオサイト</h6>
	<h4>タビレピへようこそ！！</h4></br></br>
	  <p>このサイトはあなたが考えた旅のスケジュールを公開する投稿サイトです。</p></br>
	  <p>これまで行ったオススメの旅を公開するのもよし。</p></br>
	  <p>これから行く旅のスケジュールツールとして使用するのもよし。</p></br>
	  <p>このサイトを通してまだ知らない旅の発見に繋がれば幸いです。</p></br>
	  <p></p></br>

		<div class="row">
		  <table class="table table-respinsive">
			<table class="table table-hover">
				<tr>
					<td><%= link_to trips_path do %>
						  <p>旅の一覧を見る</p>
						<% end %>
					</td>
				</tr>
			</table>
		  </table>
		</div>
  </div>
</div>
