// Place all the styles related to the admin_trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.searchbtn {
	margin: 0px auto;
	width: 50%;
}

.paginate {
	width: 30%;
	margin: 0px auto;
}