// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.searchbtn {
	margin: 0px auto;
	width: 50%;
}

.paginate {
	width: 30%;
	margin: 0px auto;
}

/* ---------------------------- */
/* --- jQery --- */
/* ---------------------------- */

  /*PCの場合*/
.qqq { display:none!important; }

 /*以下レスポンシブの場合*/
@media screen and (max-width: 1199px) {
.zj { display:none!important; }
.zk { display:none!important; }
.qqq { display:none!important; }
}

@media screen and (max-width: 991px) {
.zg { display:none!important; }
.zh { display:none!important; }
.zi { display:none!important; }
.zj { display:none!important; }
.zk { display:none!important; }
.qqq { display:none!important; }
}

@media screen and (max-width: 768px) {
.za	{ display:none!important; }
.zb	{ display:none!important; }
.zb { display:none!important; }
.zc { display:none!important; }
.zd { display:none!important; }
.ze { display:none!important; }
.zf { display:none!important; }
.zg { display:none!important; }
.zh { display:none!important; }
.zi { display:none!important; }
.zj { display:none!important; }
.zk { display:none!important; }
.qqq { display:inline!important; }
}

.za {float: left;}
.zb {float: left;}
.zc {float: left;}
.zd {float: left;}
.ze {float: left;}
.zf {float: left;}
.zg {float: left;}
.zh {float: left;}
.zi {float: left;}
.zj {float: left;}
.zk {float: left;}


.a { max-width: 100px; margin: 0 auto 0px; padding: 0; height: auto;}
.a img{ width: 0%; padding: 0;}

.b { max-width: 100px; margin: 0 auto 0px; padding: 0; height: auto;}
.b img{ width: 0%; padding: 0;}

.c { max-width: 100px; margin: 0 auto 0px; padding: 0; height: auto;}
.c img{ width: 0%;}

.d { max-width: 100px; margin: 0 auto 0px; padding: 0; height: auto;}
.d img{ width: 0%;}

.e { max-width: 100px; margin: 0 auto 0px; padding: 0; height: auto;}
.e img{ width: 0%;}

.f { max-width: 100px; margin: 0 auto 0px; padding: 0; height: auto;}
.f img{ width: 0%;}

.g { max-width: 100px; margin: 0 auto 0px; padding: 0; height: auto;}
.g img{ width: 0%;}

.h { max-width: 100px; margin: 0 auto 0px; padding: 0; height: auto;}
.h img{ width: 0%;}

.i { max-width: 100px; margin: 0 auto 0px; padding: 0; height: auto;}
.i img{ width: 0%;}

.j { max-width: 100px; margin: 0 auto 0px; padding: 0; height: auto;}
.j img{ width: 0%;}

.k { max-width: 100px; margin: 0 auto 0px; padding: 0; height: auto;}
.k img{ width: 0%;}

.l { max-width: 100px; margin: 0 auto 0px; padding: 0; height: auto;}
.l img{ width: 0%;}

.m { max-width: 100px; margin: 0 auto 0px; padding: 0; height: auto;}
.m img{ width: 0%;}

.n { max-width: 100px; margin: 0 auto 0px; padding: 0; height: auto;}
.n img{ width: 0%;}

.o { max-width: 100px; margin: 0 auto 0px; padding: 0; height: auto;}
.o img{ width: 0%;}

.p { max-width: 100px; margin: 0 auto 0px; padding: 0; height: auto;}
.p img{ width: 0%;}

.q { max-width: 100px; margin: 0 auto 0px; padding: 0; height: auto;}
.q img{ width: 0%;}

.r { max-width: 100px; margin: 0 auto 0px; padding: 0; height: auto;}
.r img{ width: 0%;}

.s { max-width: 100px; margin: 0 auto 0px; padding: 0; height: auto;}
.s img{ width: 0%;}

.t { max-width: 100px; margin: 0 auto 0px; padding: 0; height: auto;}
.t img{ width: 0%;}

.u { max-width: 100px; margin: 0 auto 0px; padding: 0; height: auto;}
.u img{ width: 0%;}

.v { max-width: 100px; margin: 0 auto 0px; padding: 0; height: auto;}
.v img{ width: 0%;}

.w { max-width: 100px; margin: 0 auto 0px; padding: 0; height: auto;}
.w img{ width: 0%;}

.x { max-width: 100px; margin: 0 auto 0px; padding: 0; height: auto;}
.x img{ width: 0%;}

.y { max-width: 100px; margin: 0 auto 0px; padding: 0; height: auto;}
.y img{ width: 0%;}

.z { max-width: 100px; margin: 0 auto 0px; padding: 0; height: auto;}
.z img{ width: 0%;}

.aa { max-width: 100px; margin: 0 auto 0px; padding: 0; height: auto;}
.aa img{ width: 0%;}

.ab { max-width: 100px; margin: 0 auto 0px; padding: 0; height: auto;}
.ab img{ width: 0%;}

.ac { max-width: 100px; margin: 0 auto 0px; padding: 0; height: auto;}
.ac img{ width: 0%;}

.ad { max-width: 100px; margin: 0 auto 0px; padding: 0; height: auto;}
.ad img{ width: 0%;}

.ae { max-width: 100px; margin: 0 auto 0px; padding: 0; height: auto;}
.ae img{ width: 0%;}

.af { max-width: 100px; margin: 0 auto 0px; padding: 0; height: auto;}
.af img{ width: 0%;}

.ag { max-width: 100px; margin: 0 auto 0px; padding: 0; height: auto;}
.ag img{ width: 0%;}

.qqq { max-width: 100px; margin: 0 auto 0px; padding: 0; height: auto;}
.qqq img{ width: 0%;}
